body{
  overflow-x: hidden;
}

.navbar-brand, .sectionHeaders{
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
}

.accordion-button[aria-controls="flush-collapseTwo"]:not(.collapsed){
  color:red;
}

.ui-dialog-titlebar-close::before{
  content: "❌";
  position: absolute;
  top: -5px;
  left: -4px;
}

header .bg-image{
  height: 400px;
}

.accordion-item{
  border: none;
}

.card-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
}

.searchItems{
  display: none;
}

.mobile{
  display: none;
}

.desktop{
  display: block;
}

.searchGroup{
  width: 40%;
  margin: 0;
}

.ui-autocomplete, .ui-dialog, .ui-selectmenu-open {
  z-index: 1021;
}

option{
  text-transform: capitalize;
}

.favoriteCards{
  overflow-x: scroll;
  flex-wrap: nowrap;
  width: 100%;
}
/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
  .searchGroup{
    width: 90%;
    margin: 5px auto;
  }
  .text-white h6{
    text-align: left;
  }

  header .bg-image{
    height: 93vh;
  }

  .mobile{
    display: block;
  }

  .desktop{
    display: none;
  }
}